<ion-view view-title="Cart">
    <!--<ion-nav-buttons side="right">-->
    <!--<a class="button button-icon icon ion-ios7-cart"></a>-->
    <!--<span ng-hide="!cartitemno" class="button">{{cartitemno}}</span>-->
    <!--<span ng-hide="cartitemno" class="button"> 0 </span>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap item-icon-right" style="text-align: center">
                <span><h2>Shopping Cart</h2></span>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                       ng-repeat="cartitem in cartitems" type="item-text-wrap">
                <div style="display: inline-block">
                    <h2>{{cartitem.menu_name}}</h2>
                    <h3>{{cartitem.res_name}}</h3>
                </div>
                <div style="display: inline-block; margin-left: 20px">
                    <h3>{{cartitem.item_qty}}st</h3>
                </div>
                <div style="display: inline-block; margin-left: 20px">
                    <h3>${{cartitem.item_price}}.00/st</h3>
                </div>
                <div style="display: inline-block; margin-left: 20px">
                    <h3>{{cartitem.total_price}}.00$</h3>
                </div>
                <i style="margin-right: 80px" class="button button-icon icon ion-minus-circled" ng-click="minusItem(cartitem)"></i>
                <i style="margin-right: 40px" class="button button-icon icon ion-plus-circled" ng-click="addItem(cartitem)"></i>
                <i class="button button-icon icon ion-close-circled" ng-click="deleteItem(cartitem.id)"></i>
            </ion-item>
            <Span>Total: {{totalprice}}.00$</Span>
        </ion-list>
        <button class="button button-full button-assertive" ng-click="clearAll(cartitems)">
            Clear
        </button>
        <button class="button button-full button-positive" ng-click="checkOut(cartitems[0].cart.id)">
            CheckOut/pay
        </button>
    </ion-content>
</ion-view>
