<ion-view view-title="Item">
    <ion-content>
        <div class="list">
            <div class="item item-button-right" ng-repeat="item in items">
                <h2>{{item.name}}</h2>
                <p>{{item.details}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-tabs class="tabs-icon-top">
    <!-- Dashboard Tab -->
    <ion-tab title="Dash" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>


    <!-- Chats Tab -->
    <ion-tab title="Restaurant" icon-off="ion-ios7-bell-outline" icon-on="ion-ios7-bell" href="#/tab/restaurant">
        <ion-nav-view name="tab-restaurant"></ion-nav-view>
    </ion-tab>

    <!-- Friends Tab -->
    <ion-tab title="Orders" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>

