<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.email" />
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password" />
          </label>  
      </div>
      <button class="button button-block button-calm" ng-click="login(user)">Login</button>
      <button class="button button-block button-calm" href="#/register" ng-click="redirectToRegister()">Register</button>
      <!--errors: {{errors}}-->
  </ion-content>
</ion-view>