<ion-view view-title="Menu">
    <ion-view view-title="Dash">
        <ion-nav-buttons side="right" href="#/cart">
            <a class="button button-icon icon ion-ios7-cart" href="#/cart"></a>
            <span ng-hide="true" class="button">{{mycartitem.no}}</span>
            <span ng-hide="true" class="button"> 0 </span>
        </ion-nav-buttons>
        <ion-content>
            <div class="card" ng-show="res">
                <div class="item item-text-wrap item-icon-right item-thumbnail-left">
                    <img height="100px" width="100px" ng-src="http://128.199.68.137:1337/{{res.logo}}" alt=""/>
                    <h2 style="padding-top: 10px">{{res.name}}</h2>
                    <!--<rating rate="4" max="5" readonly="true"></rating>-->
                    <div>
                        <img style="margin-left: -100px" src="http://placehold.it/300x100/ffffff/00ff00&text=*****" alt=""/>
                    </div>
                    <i class="button button-icon icon ion-more" ng-click="isDetails = !isDetails"></i>
                </div>
                <!--<style type="text/css">-->
                    <!--#slides_control > div{-->
                        <!--height: 200px;-->
                    <!--}-->
                    <!--img{-->
                        <!--margin:auto;-->
                        <!--width: 400px;-->
                    <!--}-->
                    <!--#slides_control {-->
                        <!--position:absolute;-->
                        <!--width: 400px;-->
                        <!--left:50%;-->
                        <!--top:20px;-->
                        <!--margin-left:-200px;-->
                    <!--}-->
                <!--</style>-->
                <div class="showhideanim" ng-show="isDetails" style="padding-left: 10px">
                    <p>City: {{res.city}}</p>
                    <p>Type: {{res.type}}</p>
                    <p>Post Code: {{res.postcode}}</p>
                    <!--{{slideImages[0].url}}-->
                    <ion-slide-box show-pager="false" auto-play="false">
                        <ion-slide ng-repeat="image in slideImages">
                            <img width="100%" ng-src="{{image.url}}" alt=""/>
                            <!--<div class="box blue"><h1>BLUE</h1></div>-->
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div class="card" ng-hide="res">
                <span><p>&nbsp;&nbsp;&nbsp;no item to show</p></span>
            </div>
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right item-thumbnail-left item-button-right"
                          ng-repeat="menu in menus" type="item-text-wrap">
                    <a style="text-decoration: none" class="item-thumbnail-left item-button-right"
                       href="#/item/{{menu.id}}">
                        <img height="60px" width="60px" ng-src="http://128.199.68.137:1337{{menu.image}}" alt=""/>
                        <h2>{{menu.name}}</h2>
                        <p>price : {{menu.price}}$</p>
                    </a>
                    <i class="button button-icon icon ion-plus-circled" ng-click="addToCart(menu)"></i>
                </ion-item>
            </ion-list>
            <!--<div class="list">-->
            <!--<div class="item item-button-right" ng-repeat="menu in menus">-->
            <!--<a class="item item-thumbnail-left item-button-right" href="#/item/{{menu.id}}">-->
            <!--<img src="{{menu.image}}" alt=""/>-->
            <!--<h2>{{menu.name}}</h2>-->
            <!--<p>price : {{menu.price}}$</p>-->
            <!--<button class="button button-icon icon ion-plus-circled">-->
            <!--</button>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
        </ion-content>
        <!--<ion-tabs class="tabs-icon-top">-->
        <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
        <!--<ion-tab title="Dash" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">-->
        <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
        <!--</ion-tab>-->


        <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
        <!--<ion-tab title="Restaurant" icon-off="ion-ios7-bell-outline" icon-on="ion-ios7-bell" href="#/tab/restaurant">-->
        <!--<ion-nav-view name="tab-restaurant"></ion-nav-view>-->
        <!--</ion-tab>-->

        <!--&lt;!&ndash; Friends Tab &ndash;&gt;-->
        <!--<ion-tab title="Orders" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/friends">-->
        <!--<ion-nav-view name="tab-friends"></ion-nav-view>-->
        <!--</ion-tab>-->


        <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
        <!--<ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">-->
        <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
        <!--</ion-tab>-->
        <!--</ion-tabs>-->
    </ion-view>


