<ion-view view-title="register" name="register-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Username" name="email" ng-model="user.email"/>
          </label>
          <!-- <div ng-show="email.$dirty" ng-messages="email.$error">
            <div ng-message="required">
              You forgot the email address.
            </div>
            <div ng-message="email">
              That is not a well formed email address.
            </div>
          </div> -->
          <label class="item item-input">
              <input type="password" placeholder="Password" name="password" ng-model="user.password"/>
          </label>
          <!-- <div ng-show="password.$dirty" ng-messages="password.$error">
            <div ng-message="required">
              You forgot the password.
            </div>
          </div> -->
          <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword"/>
          </label>
          <!-- <div ng-show="confirmPassword.$dirty" ng-messages="confirmPassword.$error">
            <div ng-message="required">
              You forgot the password confirmation.
            </div>
          </div> -->
      </div>

      <button class="button button-block button-calm" ng-click="register(user)">Register</button>
      <!-- <input type="text" ng-model="test">
      <button ng-click="testMethod()"></button>
      {{errors}}
      {{test}} -->
      <!--{{user}}-->

  </ion-content>
</ion-view>

