<ion-view view-title="Menu">
    <ion-content>
        <div class="list">
            <div class="item item-button-right" ng-repeat="item in items">
                <h2>{{item.name}}</h2>

                <p>{{item.price}}</p>
                <button class="button button-positive">
                    <i class="icon ion-ios7-telephone"> Order</i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>