<ion-view view-title="Account">
    <ion-content>
        <!--<ion-list>-->
            <!--<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Live Update</ion-toggle>-->
        <!--</ion-list>-->
        <ion-list>
            <ion-toggle ng-init="settings.checked=true" ng-model="settings.checked" ng-change="logout()">{{settings.text}}</ion-toggle>
        </ion-list>

        <!--<ion-list>-->
            <!--<ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Option</ion-toggle>-->
        <!--</ion-list>-->
    </ion-content>
</ion-view>
