<ion-view view-title="Order">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios7-cart" href="#/cart"></a>
        <span ng-hide="true" class="button">{{cartitemno}}</span>
        <span ng-hide="true" class="button"> 0 </span>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap item-icon-right" style="text-align: center">
                <span><h2>Order</h2></span>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right item-thumbnail-left" ng-repeat="order in orders" type="item-text-wrap" >
                <!--<a class="item item-thumbnail-left" href="#/menu/{{res.id}}">-->
                <h2>Order Number {{$index+1}}</h2>
                <!--</a>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
