<ion-view view-title="Dash">
    <ion-nav-buttons side="right" href="#/cart">
        <a class="button button-icon icon ion-ios7-cart" href="#/cart"></a>
        <span ng-hide="true" class="button">{{cartitemno}}</span>
        <span ng-hide="true" class="button"> 0 </span>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right item-thumbnail-left" href="#/menu/{{res.id}}" ng-repeat="res in restaurants" type="item-text-wrap" >
                <!--<a class="item item-thumbnail-left" href="#/menu/{{res.id}}">-->
                <img height="60px" width="60px" ng-src="http://128.199.68.137:1337{{res.logo}}">
                <h2>{{res.name}}</h2>
                <p>{{res.type}}</p>
                <!--</a>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
