<ion-view view-title="Order">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios7-cart"></a>
        <span ng-hide="!cartitemno" class="button">{{cartitemno}}</span>
        <span ng-hide="cartitemno" class="button"> 0 </span>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap item-icon-right" style="text-align: center">
                <span><h2>Order</h2></span>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right item-thumbnail-left" ng-repeat="res in restaurants" type="item-text-wrap" >
                <!--<a class="item item-thumbnail-left" href="#/menu/{{res.id}}">-->
                <img height="60px" width="60px" ng-src="http://128.199.68.137:1337{{res.logo}}">
                <h2>{{res.name}}</h2>
                <p>{{res.type}}</p>
                <!--</a>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
