<ion-view view-title="Restaurants">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="res in restaurants" type="item-text-wrap" >
      
             <a class="item item-thumbnail-left" href="#/tab/chats/{{res.id}}">
      <img src="img/ionic.png">
        <h2>{{res.name}}</h2>
        <p>{{res.postcode}}</p>
    </a>

      </ion-item>
 
    </ion-list>
  </ion-content>
</ion-view>
