<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dash" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Restaurant" icon-off="ion-ios7-bell-outline" icon-on="ion-ios7-bell" href="#/tab/restaurant">
    <ion-nav-view name="tab-restaurant"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Orders" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/orders">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="Friends" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/friends">-->
    <!--<ion-nav-view name="tab-friends"></ion-nav-view>-->
  <!--</ion-tab>-->


  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
